.font-color-orange {
    color:#c65030;
}

.font-color-black{
    color:#000000;
}

.font-color-gray{
    color:#858585;
}
.font-color-white{
    color:#ffffff;
}

.background-orange {
   background-color:#c65030;
}