a{
    text-decoration:none;
}
a:hover{
    text-decoration: none;
}

.nav-bar{
    width: 100%;
    height: 70px;
    box-shadow: 0 0 10px rgb(241, 239, 239);
    position:fixed;
    top:0;
    background-color:#ffffff;
    z-index: 100;
    transition: all 0.3s ease-in-out;
}
.hanburger{
    position: absolute;
    top:5px;
    left: 350px;
    visibility: hidden;
}
.logo{
    width: 160px;
}
.nav{
    margin-top: 20px;
    list-style: none;
}
.nav li{
    display: inline;
}
.nav li a{
    text-decoration: none;
    display: block;
    padding-left: 25px;
    color: #000000;
    transition: all 0.3s ease-in-out;
}
.nav li a:hover{
    color: #c65030;
    /* font-weight: bold; */
}
.img-ico{
    width: 20px;
    height: 20px;
}
.img-ico-youtube{
    width: 20px;
    height: 25px;
}

#banner{
    margin-top: 70px;
    width: 100%;
    height: 603px;
    box-shadow: 0 0 10px rgb(241, 239, 239);
}

.banner-fundo{
    width: 100%;
    height: 600px;
    background-image: url('../image/banner-com-texto.png');
    /* background-color: #d2d2d0; */
    /* background-color: #e6e5ea; */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: top;

}
.img-klb{
    background-image: url('../image/klb.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    left: 50px;
    top: 69px;
    width: 1122px;
    height: 600px;
}

#menu-icon{
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 10px #a5a4a4;
    width: 850px;
    height: 115px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -60px;
}

.menu-ico{
    /* padding-left: 70px; */
    list-style: none;
}
.menu-ico li{
    display: inline;
}
.menu-ico li a{
    padding-top:10px;
    display: inline-block;
    width: 150px;
    height: 110px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
.menu-ico li a img{
    width: 80px;
    display:inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:top;
    transition: all 0.3s ease-in-out;
}
.menu-ico li a img:hover{
    width: 95px;
}
#grupo-btn{
    width: 780px;
    margin-left: auto;
    margin-right: auto;
}
.btn-menu-ico{
    display: block;
    width: 150px;
    height: 110px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    background-color: #ffffff;

    transition: all 0.2s ease-in-out;
}
.btn-menu-ico:hover{
    width: 160px;
    height: 115px;
    text-decoration:none;
    color:#a5a4a4;
    box-shadow: 0 0 10px #a5a4a4;
}

.btn-menu-ico img{
    width: 80px;
}

#text-apresent{
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align:center;
}

#sessao-planos{
    margin-top: 70px;
    width: 100%;
    height: 500px;
}
.fundo-planos{
    width: 100%;
    height: 370px;
    background-image: url('../image/img-microfone.png');
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: top; */
}
.planos-group{
    width: 1000px;
    height: 420px;
    padding-top: 13px;
    margin-left: auto;
    margin-right: auto;
    transition: all .6s ease-in-out;
}
.scroll { 
    overflow-x: hidden;
    overflow-y: hidden;
    height: auto;
    white-space:nowrap;
    scroll-behavior: smooth;
} 
#leftSlidePlan{
    width: 50px;
    height: 50px;
    position: absolute;
    display: block;
    /* background-color: #FFFF;
    border-radius: 100%; */
    margin-top: 185px;
    margin-left: 420px;
    color:#c65030;
}
#rightSlidePlan{
    width: 50px;
    height: 50px;
    position: absolute;
    display: block;
    /* background-color: #FFFF;
    border-radius: 100%; */
    margin-top: -243px;
    margin-left: 1440px;
    color:#c65030;
}
#leftSlide{
    width: 50px;
    height: 50px;
    position: absolute;
    display: block;
    /* background-color: #FFFF;
    border-radius: 100%; */
    margin-top: 185px;
    margin-left: 420px;
    color:#c65030;
}
#rightSlide{
    width: 50px;
    height: 50px;
    position: absolute;
    display: block;
    /* background-color: #FFFF;
    border-radius: 100%; */
    margin-top: -243px;
    margin-left: 1440px;
    color:#c65030;
}
.plano{
    width: 270px;
    height: 400px;
    border-radius: 7px;
    margin-left: 28px;
    margin-right: 28px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px #535353;
    display: inline-block;
    *display:inline;
    *zoom:1;
    vertical-align:top;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}
.plano:hover{
    margin-top: -5px;
    box-shadow: 0 0 10px #f77a49;
}
.plano-um{
    background-image: url('../image/planos-um.png');
    background-position: center;
    background-size: cover;
}
.plano-dois{
    background-image: url('../image/planos-dois.png');
    background-position: center;
    background-size: cover;
}
.plano-tres{
    background-image: url('../image/planos-tres.png');
    background-position: center;
    background-size: cover;
}
.plano-descr{
    margin-top:201px;
    width: 300px;
    height: 200px;
    border-radius: 0 0 7px 7px;
    /* background-image: linear-gradient(rgba(255, 255, 255, 0), #ffffff); */
}
.plano p{
    text-align: center;
    margin:0;
    padding:0;
}
.span-plano40italico{
    font-size: 40pt;
    font-weight: bold;
    font-style: italic;
    margin:0;
    padding:0;
}
.span-plano25{
    font-size: 25pt;
    margin:0;
    padding:0;
}
.span-plano15italicoBold{
    font-size: 25pt;
    font-weight: bold;
    font-style: italic;
    margin:0;
    padding:0;
}
.span-plano60{
    font-size: 60pt;
    font-weight: bold;
    margin:0;
    padding:0;
}
.span-plano50{
    font-size:50pt;
    font-weight: bold;
    margin:0;
    padding:0;
}

#nossos-artistas{
    /* margin-top: 70px; */
    width: 100%;
    height: 600px;
}
#nossos-artistas h2{
    text-align:center;
    font-weight: bold;
}
.fundo-artistas{
    width: 100%;
    height: 370px;
    background-image: url('../image/img-bateria.png');
}
.plan-klb{
    background-image: url('../image/klb.jpg');
    background-size: cover;
    background-position: center;

    border-radius: 7px 7px 0 0;
    height: 200px;
    width: 270px;
}
.plan-klb-descr{
    border-radius: 0 0 7px 7px;
    height: 200px;
    width: 270px;
    background-color:#c65030;
}
.plan-klb-descr h3{
    color: #ffffff;
    text-align: center;
    font-size: 40pt;
}
.plan-klb-descr img{
    width: 150px;
}
.klb-logo{
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
}

#suporte{
    width: 100%;
    height: 250px;
}
.support{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.support p {
    margin-left:10px;
}

.suport-img{
    width: 110px;
    height: 110px;
    border-radius: 4px;
    box-shadow: 0 0 10px #535353;
}

#sobre-nos{
    width: 100%;
    height: 280px;
}

.sobre-nos{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.sobre-nos p {
    color:#c65030;
    text-align: justify;
}

.simcard{
    width: 300px;
}

#form-contato{
    width: 100%;
    height: 300px;
}
.form{
    width: 900px;
    height: 390px;
    box-shadow: 0 0 10px #a5a4a4;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 3px;
    background-color: #ffffff;
    border-radius: 7px;
}
.form h3{
    text-align:center;
}
.input-orange{
    border: 1px solid #c65030;
    background-color: #f3d9d2;
    width: 100%;
    height: 35px;
    border-radius: 3px;
}
textarea{
    border: 1px solid #c65030;
    background-color: #f3d9d2;
    width: 100%;
    height: 150px;
    border-radius: 3px;
}
form{
    padding: 15px;
}
.btn-enviar{
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    border: 2px solid #c65030;
    background-color: #ffffff;
    color: #c65030;
    
    transition: all 0.2s ease-in-out;
}
.btn-enviar:hover{
    background-color: #c65030;
    color: #ffffff;
}
#rodape{
    width: 100%;
    height: 400px;
    background-color: #535353;
    z-index: 80;
}
.footer-itens{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.logo-footer{
    margin-left:10px;
    width: 200px;
    height: 60px;
    margin-top: 125px;
}
.logo-footer img{
    width: 210px;
}
.mapa-site{
    width: 150px;
    margin-top: 125px;
    margin-left: 50px;
    font-size:10pt;
}
.mapa-site span{
    font-weight: bold;
}
.mapa-site p{
    color:#ffffff;
    margin-left: 10px;
}
.mapa-site ul {
    list-style: none;
    color:#ffffff;
}
.mapa-site ul li a{
    color: #ffffff;
}
.contato-footer{
    width: 300px;
    margin-top: 125px;
    margin-left: 10px;
    font-size: 10pt;
}
.contato-footer span{
    font-weight: bold;
    color: #ffffff;
}
.contato-footer ul {
    list-style: none;
}
.contato-footer ul li{
    color:#ffffff;
}
.politica-info{
    width: 200px;
    margin-top: 125px;
    margin-left: 10px;
    font-size: 10pt;
    color:#ffffff;
}
.politica-info span{
    font-weight: bold;
}
.politica-info p {
    margin:0;
    padding: 0;
}
.politica-info p a{
    color:#ffffff;
}
@media screen and (max-width:1440px) and (max-height: 900px){
    #leftSlidePlan{
        margin-top: 185px;
        margin-left: 160px;
    }
    #rightSlidePlan{
        margin-top: -243px;
        margin-left: 1220px;
    }
    #leftSlide{
        margin-top: 185px;
        margin-left: 160px;
    }
    #rightSlide{
        margin-top: -251px;
        margin-left: 1220px;
    }
}

@media (max-width:990px){
    #banner{
       height: 403px;
    }
    .container{
        margin-left: 20px;
    }
    .nav-resp{
        font-size: 8pt;
        width: 400px;
    }
    
    .banner-fundo{
        width: 100%;
        height: 400px;
        background-image: url('../image/banner-com-texto.png');
        /* background-color: #d2d2d0; */
        /* background-color: #e6e5ea; */
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        /* background-position: top; */
    }
    #menu-icon{
        width: 750px;
    }
    #text-apresent{
        width: 750px;
    }
    .planos-group{
        width: 989px;
    }
    /* .plano{
        width: 270px;
    } */
    #leftSlidePlan{
        margin-top: 185px;
        margin-left: 5px;
    }
    #rightSlidePlan{
        margin-top: -243px;
        margin-left: 950px;
    }
    #leftSlide{
        margin-top: 185px;
        margin-left: 5px;
    }
    #rightSlide{
        margin-top: -251px;
        margin-left: 950px;
    }
    .span-plano40italico{
        font-size: 40px;
    }
    /* .plan-klb-descr{
        width: 200px;
    } */
    /* .plan-klb{
        width: 200px;
    } */
    .sobre-nos{
        width: 770px;
    }
    .sobre-nos h3{
        padding-left: 60px;
    }
    .sobre-nos p{
        font-size: 10pt;
        padding-left: 40px;
    }
    .form{
        width: 770px;
    }
    .footer-itens{
        width: 900px;
    }
    .politica-info{
        width: 300px;
        margin-top: 0px;
    }
}

@media screen and (max-width:1280px) and (max-height: 768px){
    #leftSlidePlan{
        margin-top: 185px;
        margin-left: 100px;
    }
    #rightSlidePlan{
        margin-top: -243px;
        margin-left: 1130px;
    }
    #leftSlide{
        margin-top: 185px;
        margin-left: 100px;
    }
    #rightSlide{
        margin-top: -251px;
        margin-left: 1130px;
    }
}

@media screen and (max-width:414px) and (max-height:736px){
    .container{
        margin-left: 5px;
    }
    .hanburger{
        position: absolute;
        top:5px;
        left: 350px;
        visibility: visible;
    }
    .hanburger a{
        color:#c65030;
    }
    .expand{
        height: 170px;
        position: fixed;
    } 
    .nav-mobile{
        flex: 99%;
        max-width: 99%;
        visibility: hidden;
        /* transition: all 0.1s ease-in-out; */
    }
    .nav-mobile-visivel{
        visibility: visible;
    }
    .nav-mobile-redes{
        margin-left: -117px;
        padding-top: 150px
    }
    #banner{
        height: 230px;
    }
    .banner-fundo{
        height: 229px;
    }
    #menu-icon{
        width: 380px;
        height: 78px;
        margin-top: -40px;
    }
    .grupo-btn{
        width: 379px;
    }
    .btn-menu-ico{
        width: 73px;
        height: 75px;
        font-size: 6pt;
    }
    .btn-menu-ico:hover{
        width: 77px;
        height: 77px;
    }
    .btn-menu-ico img{
        width: 45px;
    }
    #text-apresent{
        width: 350px;
    }
    #text-apresent h3{
        font-size: 12pt;
    }
    .planos-group{
        width: 420px;
    }
    .scroll { 
        overflow-x: hidden;
        overflow-y: hidden;
        height: auto;
        white-space:nowrap;
        scroll-behavior: smooth;
    } 
    .plano{
        margin-left: 75px;
        margin-right: 75px;
    }
    #leftSlidePlan{
        margin-top: 185px;
        margin-left: 5px;
    }
    #rightSlidePlan{
        margin-top: -243px;
        margin-left: 375px;
    }
    #leftSlide{
        margin-top: 185px;
        margin-left: 5px;
    }
    #rightSlide{
        margin-top: -251px;
        margin-left: 375px;
    }
    #nossos-artistas{
        height: 480px;
    }

    #sobre-nos{
        height: 500px;
    }
    .sobre-nos{
        width: 350px;
    }
    .sn-response{
        margin-top: 5px;
        max-width: 99%;
        flex: 99%;
    }
    #form-contato{
        height: 500px;
    }
    .form{
        width: 350px;
        height: 580px;
    }
    #rodape{
        height: 600px;
    }
    .footer-itens{
        width: 350px;
    }
    .row-form-resp{
        flex: 99%;
        max-width: 99%;
    }
    .logo-footer{
        margin-top: 94px;
        margin-left: auto;
        margin-right: auto;
    }
    .mapa-site{
        margin-left: 1px;
        margin-top: 30px;
    }
    .contato-footer{
        margin-top: 10px;
    }
    .politica-info{
        margin-top:10px;
    }
    
}
@media screen and (max-width:375px) and (max-height:812px){
    .container{
        margin-left: 2px;
    }
    .hanburger{
        position: absolute;
        top:5px;
        left: 320px;
        visibility: visible;
    }
    .hanburger a{
        color:#c65030;
    }
    .expand{
        height: 170px;
        position: fixed;
    } 
    .nav-mobile{
        margin-left: -37px;
        flex: 99%;
        max-width: 99%;
        visibility: hidden;
        /* transition: all 0.1s ease-in-out; */
    }
    .nav-resp{
        width: 320px;
    }
    .nav-mobile-visivel{
        visibility: visible;
    }
    .nav-mobile-redes{
        margin-left: -117px;
        padding-top: 150px
    }
    #banner{
        height: 100px;
    }
    .banner-fundo{
        height: 99px;
    }
    #menu-icon{
        margin-top: 4px;
        width: 300px;
        height: 58px;

    }
    .grupo-btn{
        width: 300px;
    }
    .btn-menu-ico{
        width: 57px;
        height: 57px;
        font-size: 6pt;
    }
    .btn-menu-ico:hover{
        width: 37px;
        height: 37px;
    }
    .btn-menu-ico img{
        width: 25px;
    }
    #text-apresent{
        width: 300px;
    }
    #text-apresent h3{
        font-size: 12pt;
    }
    .planos-group{
        width: 315px;
    }
    .scroll { 
        overflow-x: hidden;
        overflow-y: hidden;
        height: auto;
        white-space:nowrap;
        scroll-behavior: smooth;
    } 
    .plano{
        margin-left: 25px;
        margin-right: 25px;
    }
    #leftSlidePlan{
        margin-top: 185px;
        margin-left: 5px;
    }
    #rightSlidePlan{
        margin-top: -243px;
        margin-left: 340px;
    }
    #leftSlide{
        margin-top: 185px;
        margin-left: 5px;
    }
    #rightSlide{
        margin-top: -251px;
        margin-left: 340px;
    }
    #nossos-artistas{
        height: 480px;
    }

    #sobre-nos{
        height: 500px;
    }
    .sobre-nos{
        width: 350px;
    }
    .sn-response{
        margin-top: 5px;
        max-width: 90%;
        flex: 99%;
        margin-left: -20px
    }
    #form-contato{
        height: 500px;
    }
    .form{
        width: 300px;
        height: 580px;
    }
    #rodape{
        height: 600px;
    }
    .footer-itens{
        width: 350px;
    }
    .row-form-resp{
        flex: 99%;
        max-width: 99%;
    }
    .logo-footer{
        margin-top: 94px;
        margin-left: auto;
        margin-right: auto;
    }
    .mapa-site{
        margin-left: 1px;
        margin-top: 30px;
    }
    .contato-footer{
        margin-top: 10px;
    }
    .politica-info{
        margin-top:10px;
    }
}




@media screen and (max-width:320px) and (max-height:568px) {
    .container{
        margin-left: 2px;
    }
    .hanburger{
        position: absolute;
        top:5px;
        left: 280px;
        visibility: visible;
    }
    .hanburger a{
        color:#c65030;
    }
    .expand{
        height: 170px;
        position: fixed;
    } 
    .nav-mobile{
        margin-left: -37px;
        flex: 99%;
        max-width: 99%;
        visibility: hidden;
        /* transition: all 0.1s ease-in-out; */
    }
    .nav-resp{
        width: 320px;
    }
    .nav-mobile-visivel{
        visibility: visible;
    }
    .nav-mobile-redes{
        margin-left: -117px;
        padding-top: 150px
    }
    #banner{
        height: 100px;
    }
    .banner-fundo{
        height: 99px;
    }
    #menu-icon{
        margin-top: 4px;
        width: 300px;
        height: 58px;

    }
    .grupo-btn{
        width: 300px;
    }
    .btn-menu-ico{
        width: 57px;
        height: 57px;
        font-size: 6pt;
    }
    .btn-menu-ico:hover{
        width: 37px;
        height: 37px;
    }
    .btn-menu-ico img{
        width: 25px;
    }
    #text-apresent{
        width: 300px;
    }
    #text-apresent h3{
        font-size: 12pt;
    }
    .planos-group{
        width: 320px;
    }
    #leftSlidePlan{
        margin-top: 185px;
        margin-left: 5px;
    }
    #rightSlidePlan{
        margin-top: -243px;
        margin-left: 280px;
    }
    #leftSlide{
        margin-top: 185px;
        margin-left: 5px;
    }
    #rightSlide{
        margin-top: -251px;
        margin-left: 280px;
    }
    .scroll { 
        overflow-x: hidden;
        overflow-y: hidden;
        height: auto;
        white-space:nowrap;
        scroll-behavior: smooth;
    } 
    .plano{
        margin-left: 25px;
        margin-right: 25px;
    }
    
    #nossos-artistas{
        height: 480px;
    }

    #sobre-nos{
        height: 500px;
    }
    .sobre-nos{
        width: 350px;
    }
    .sn-response{
        margin-top: 5px;
        max-width: 90%;
        flex: 99%;
        margin-left: -20px
    }
    #form-contato{
        height: 500px;
    }
    .form{
        width: 300px;
        height: 580px;
    }
    #rodape{
        height: 600px;
    }
    .footer-itens{
        width: 350px;
    }
    .row-form-resp{
        flex: 99%;
        max-width: 99%;
    }
    .logo-footer{
        margin-top: 94px;
        margin-left: auto;
        margin-right: auto;
    }
    .mapa-site{
        margin-left: 1px;
        margin-top: 30px;
    }
    .contato-footer{
        margin-top: 10px;
    }
    .politica-info{
        margin-top:10px;
    }
}

@media screen and (max-width:1024px) and (max-height:1366px){

}

